<!DOCTYPE html>
<html ng-app="NarrowItDownApp">
  <head>
    <meta charset="utf-8">
    <title>module 3 solution</title>
  </head>
  <body>
    <h1>Module 3 solution</h1>

    <div id=narro_down_cntrlr ng-controller="NarrowItDownController as narrow_down">

      <input ng-model="narow_down.search_txt" type="text" name="" value="" placeholder="enter dearch word">
      <button type="button" name="btn_search" ng-click="narrow_down.getMenueItems()">Search menu</button>

      <ul>
        <li ng-repeat="item in narrow_list.found">
          {{item}}
        </li>
      </ul>

    </div>

  </body>
</html>
