<!DOCTYPE html>
<html ng-app="ShoppingList">
  <head>
    <meta charset="utf-8">
    <script src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
    <title>Mode 2 solution</title>
  </head>

  <body>
    <h2>Module 2 solution</h2>
    <div id=all_lists ng-controller="ShoppingCheckController">

      <div id="to_by_container" ng-controller="ToByListController">
        <h3>To By List {{currentItemName}}</h3>
        <input type="text" ng-model="currentItemName" placeholder="item name">
        <input type="text" ng-model="currentItemQuantity" placeholder="item quantity">
        <button type="button" ng-click="addItem()" name="btn_add">Add Item</button>

        <ol>
          <li ng-repeat="item in items">
            {{item.quantity}} of {{item.name}}
            <button type="button" ng-click="checkItem($index)" name="btn_check">Check Item</button>
          </li>
        </ol>
      </div>

      <div id="already_bought_container"
        ng-controller="AlreadyBoughtListController">
        <h3>Already Bought List</h3>


        <ol>
          <li ng-repeat="item in items">
            {{item.quantity}} of {{item.name}}
            <button type="button" ng-if"item.name" ng-click="uncheckItem($index)" name="btn_uncheck">Uncheck Item</button>
          </li>
        </ol>
      </div>

    </div>


  </body>
</html>
