<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
    <title>Mode 2 solution</title>
  </head>
  <body>
    <h1>Mode 2 solution</h1>
    <div id="to_by_container"
      ng-controller="ToByListController as to_by_list">
      <input type="text" ng-model="to_by_list.currentItemName" placeholder="item name">
      <input type="text" ng-model="to_by_list.currentItemQuantity" placeholder="item quantity">
      <button type="button" ng-click="to_by_list.addItem()" name="btn_add">Add Item</button>
      <ol>
        <li ng-repeat="item in to_by_list.items">
          {{item.quantity}} of {{item.name}}
        </li>
      </ol>

    </div>

    <div id="already_bought_container"
      ng-controller="AlreadyBoughtListCntrl as already_bought_list">

    </div>
  </body>
</html>
