
<fieldset>
  <legend style="color: #fff;">Registration</legend>
  <form name='regForm' novalidate>

    <input type="text" name="first_name" placeholder="first name"
      ng-model="registerCtrl.newUser.first_name"
      required
      minlength="4"
      ng-maxlength="10">
      {{ registerCtrl.newUser.first_name }}
      <span
        ng-if="(regForm.first_name.$error.minlength || regForm.first_name.$error.required) && regForm.first_name.$touched">
        Username must be at least 4 characters long
      </span>
      <span ng-if="regForm.first_name.$error.maxlength && regForm.first_name.$touched">
        Username must not be longer than 10 characters
      </span>
      <br>

      <input type="text" name="last_name" placeholder="last name"
        ng-model="registerCtrl.newUser.last_name"
        required
        minlength="4"
        ng-maxlength="15">
        {{ registerCtrl.newUser.last_name }}
        <span
          ng-if="(regForm.last_name.$error.minlength || regForm.last_name.$error.required) && regForm.last_name.$touched">
          Username must be at least 4 characters long
        </span>
        <span ng-if="regForm.last_name.$error.maxlength && regForm.last_name.$touched">
          Username must not be longer than 15 characters
        </span>
        <br>

    <input type="email" name="email" placeholder="Email"
      ng-model="registerCtrl.newUser.email"
      required>
      <span ng-if="regForm.email.$invalid && regForm.email.$touched">
        Must be a valid email address: handle@domain format
      </span>
      <br>

    <input type="text" name="phone" placeholder="Phone ###-###-####"
      ng-model="registerCtrl.newUser.phone"
      pattern="(\d{3})-(\d{3})-(\d{4})">
      <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
        Phone must be in the format ###-###-####.
      </span>
      <br>

      <input type="text" name="favorite_item" placeholder="favorite item num"
        ng-model="registerCtrl.newUser.favorite_item"
        required
        minlength="1"
        ng-maxlength="5">
        <span ng-if="regForm.favorite_item.$invalid && regForm.email.$touched">
          Must be 1-5 digits
        </span>
        <span ng-if="registerCtrl.wrong_data"
         class="alert alert-danger"
         style="margin: 100px;">
          No such menu number exists!
        </span>
        <br>

    <button
      ng-disabled="regForm.$invalid"
      ng-click="registerCtrl.submit()"
      style="color: black">Submit</button>

      <span ng-if="registerCtrl.data_saved"
       class="alert alert-success">
        Your data has been saved.
      </span>
  </form>
</fieldset>
